<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link href="static/css/my-socnet-style.css" rel="stylesheet" type="text/css" />
    <title>
        SocNet
    </title>
    <style>
        .container {
            display: flex;
            justify-content: flex-start;
        }

        .container>div {
            margin-right: 20px;
        }
    </style>
    <script>
        var numElementos = 8;				// Número de elementos seleccionables en la lista
        var seleccionados = new Array();	// Array con los elementos seleccionados

        /*
                 Devuelve el valor seleccionado para el usuario en el radio que indica el tipo de selección: única
           o múltiple.
        */
        function getTipoSeleccion() {
            var tipoSeleccion = document.getElementsByName("tipoSeleccion");
            var retorno = null;

            // tipoSeleccion es un array con todos los inputs de tipo radio con nombre "tipoSeleccion"
            for (var i = 0; i < tipoSeleccion.length; i++) {
                if (tipoSeleccion[i].checked) {
                    retorno = tipoSeleccion[i].value;
                    break;
                }
            }
            return (retorno);
        }

        /*
           Función que se invocará al pasar el tipo de selección única para validar que no hay dos o más
           elementos seleccionados en la lista. En caso de haberlos, se muestra un mensaje de error y se
           vuelve al tipo de selección múltiple.
        */
        function validarUnica() {
            if (seleccionados.length > 1) {
                alert("Lista con " + seleccionados.length + " elementos seleccionados");
                document.getElementById("multiple").checked = true;
            }
        }

        /*
           Desmarca todos los elementos seleccionados de la lista.
        */
        function desmarcarSeleccionados() {
            while (seleccionados.length != 0) {
                var item = seleccionados.pop();
                item.click();
            }
        }

        /*
           Función a la que se invoca al pulsar el check asociado al elemento de la lista. Se encarga
           de realizar los cambios visuales que permiten distinguir los elementos seleccionados de los
           que no lo están. Además, en función de si el elemento pasa a estar seleccionado o deja de
           estarlo, añade o elimina del array de elementos seleccionados el objeto DOM que lo representa.
        */

        /*function pulsadoCheck(id) {

        }*/
        function pulsadoCheck(id) {
            if (document.getElementById("check" + id).checked) {
                document.getElementById("t" + id).className += " seleccionado";
                document.getElementById("t" + id).style.fontWeight = "bold";
                document.getElementById("t" + id).style.fontStyle = "italic";

                if (getTipoSeleccion() == "unica") {
                    desmarcarSeleccionados();
                }

                seleccionados.push(document.getElementById("check" + id));
            }
            else {
                var clase = document.getElementById("t" + id).className;
                var i;

                document.getElementById("t" + id).className = clase.substr(0, clase.indexOf(" seleccionado"));
                document.getElementById("t" + id).style.fontWeight = "normal";
                document.getElementById("t" + id).style.fontStyle = "normal";

                i = seleccionados.findIndex(function (item) { return (item.id == "check" + id) });
                if (i > -1) {
                    seleccionados.splice(i, 1);
                }
            }
        }

        /*
           Función a la que se invoca al cambiar el valor del select con la lista de posibles acciones
           para ejecutar la acción seleccionada.
        */
        function ejecutarAccion(accion) {
            var marcar = null;

            switch (accion.value) {
                case "1":
                    if (getTipoSeleccion() == "multiple") {
                        marcar = true;
                    }
                    else {
                        alert("No es posible marcar todos");
                    }
                    break;
                case "2":
                    marcar = false;
                    break;
            }

            if (marcar != null) {
                for (i = 1; i <= numElementos; i++) {
                    if (document.getElementById("check" + i).checked != marcar) {
                        document.getElementById("check" + i).click();
                    }
                }
                accion.selectedIndex = 0;
                // Equivalente: accion.value = "nada";
            }
        }


    </script>
</head>

<body>
    <div id="container">
        <a href="/">
            SocNet
        </a>
        |
        {% if logged %}
        <a href="home">
            Home
        </a>
        |
        <a href="profile">
            Profile
        </a>
        |
        <a href="logout">
            Log Out ({{ nickname }})
        </a>
        {% else %}
        <a href="login">
            Log In
        </a>
        |
        <a href="signup">
            Sign Up
        </a>
        {% endif %}
        <h1>
            Hi, Welcome to the SocNet
        </h1>
        <div class="container">
            <div>
                <p>Choose <b>Sign Up</b> if you are a new user</p>
                <p>Choose <b>Login</b> if you are user of SocNet</p>
                <p>Choose <b>Home</b> to start to write Posts</p>
            </div>
            <div id=friends style="margin-top:15px">
                
                <div class='par' id='t0'><input id='check0' value='All' type='checkbox' onclick='pulsadoCheck(0)' />All</div>
                
                {% for friend in friends %}

                    <div id='t{{loop.index}}' class='{{"impar" if (loop.index%2) else "par"}}'>
                        <input id='check{{loop.index}}' value='{{friend}}' type='checkbox' onclick='pulsadoCheck({{loop.index}})' />
                    {{ friend }}
                    </div>

                {% endfor %}

            </div>
        </div>

    </div>
</body>

</html>